<card class="m-1"
      ng-repeat="item in seaLevelForecastCtrl.seaLevelForecast track by item.date">
    <card-left>{{item.date | date:cityCtrl.DATE_FORMAT}}</card-left>
    <card-right>
            <span>
                <i class="wi wi-barometer"></i>
                <span>{{item.seaLevel}}</span>
            </span>
    </card-right>
</card>