<div class="container">
    <page-header>
        <page-header-title>Cities` Sunrise and Sunset</page-header-title>
    </page-header>
    <sun-list sun-list="citiesCtrl.enhancedCities"></sun-list>
</div>