<span>
    <i class="wi wi-sunrise"></i>
    {{sunCtrl.sunInfo.sunRise | date:sunCtrl.TIME_FORMAT}}
</span>
<span>
    <i class="wi wi-sunset"></i>
    {{sunCtrl.sunInfo.sunSet | date:sunCtrl.TIME_FORMAT:'+0000'}}
</span>