<div class="container">
    <page-header>
        <page-header-title>Sea-Level Pressure in {{cityCtrl.cityName}}</page-header-title>
        <page-header-actions>
            <button class="btn btn-link btn-sm" ui-sref="cities()">Back</button>
        </page-header-actions>
    </page-header>
    <sea-level-forecast-list
            sea-level-forecast-list-forecast="cityCtrl.seaLevelForecast">
    </sea-level-forecast-list>
    <sea-level-forecast-chart
            sea-level-forecast-chart-forecast="cityCtrl.seaLevelForecast">>
    </sea-level-forecast-chart>
</div>