<card role="button"
      class="m-1 sun"
      ng-repeat="city in sunListCtrl.citiesSunList track by city.name"
      ui-sref="city({name: city.name, countryCode: city.countryCode})">
    <card-left>
        <span>{{city.name}}</span>
    </card-left>
    <card-right>
        <sun sun-info="city.sunInfo"></sun>
    </card-right>
</card>